@use '/src/styles/constants/colors';

.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$MAIN_LIGHTGRAY;
}

.app {
  width: 375px;
  height: 100vh;
  background-color: colors.$WHITE;
  border-radius: 40px;
}

.notFoundText {
  margin-top: 150px;
  font-size: 32px;
  text-align: center;
}
