@use '/src/styles/constants/colors';

.gourdPlayContainer {
  .gourdPlayHeader {
    margin-top: 30px;

    .homeLink {
      display: flex;
      align-items: center;
      margin-left: 15px;

      svg {
        width: 23px;
        height: 25px;
        fill: colors.$TEXT59;
      }

      p {
        font-size: 26px;
        color: colors.$TEXT59;
      }
    }

    h1 {
      margin: 12px 0 0 20px;
      font-size: 30px;
      font-weight: bold;
      color: colors.$TEXT29;
    }
  }

  .gourdWrapper {
    text-align: center;

    .basicGourdImg {
      width: 340px;
    }

    .hitGourdButton {
      position: relative;

      .hitGourdImg {
        width: 340px;
      }

      .toggleImg {
        transform: rotate(0.97turn);
      }

      .hitCountText {
        position: absolute;
        top: 120px;
        left: 116px;
        font-size: 40px;
        color: colors.$MAIN_PINK;
        text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
        visibility: hidden;
      }

      &:focus {
        .hitCountText {
          visibility: visible;
          animation: scale1 0.2s infinite alternate;
        }
      }

      @keyframes scale1 {
        0% {
          transform: scale(0.8);
        }

        100% {
          transform: scale(1);
        }
      }
    }
  }
}
