@use '/src/styles/constants/colors';

.gourdContainer {
  .gourd {
    position: relative;
    text-align: center;

    .openGourdImg {
      width: 340px;
    }

    p {
      position: absolute;
      top: 172px;
      left: 157px;
      width: 48px;
      height: 293px;
      font-size: 18px;
      word-break: keep-all;
      word-wrap: break-word;
      transform: skew(0.99turn, 1deg);

      .verticalSpan {
        writing-mode: horizontal-tb;
      }
    }
  }

  .gourdShareLink {
    margin-top: 100px;

    a {
      padding: 10px 30px;
      font-size: 20px;
      font-weight: 500;
      color: colors.$TEXT39;
      background-color: colors.$MAIN_LIGHTGRAY;
      border-radius: 15px;
    }
  }
}
