@use '/src/styles/constants/colors';

.easterEggContainer {
  position: relative;

  .mainImage {
    width: 100%;
    border-radius: 40px 40px 0 0;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .blameActive {
    position: absolute;
    top: 247px;
    left: 108px;
    width: 30px;
    height: 18px;
    background-color: #d7b4c6;
    border-radius: 45%;
    box-shadow: 0 0 20px #d7b4c6;
    transform: rotate(322deg);
    animation: fadeIn 3s;
  }

  .heartButton {
    position: absolute;
    top: 214px;
    left: 216px;
    width: 60px;

    svg {
      filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 12%));
      fill: #ff69b4;
      stroke: 1px #ffffff;
    }

    &:hover {
      svg {
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 16%));
      }
    }
  }

  @keyframes bigger {
    from {
      top: 214px;
      left: 216px;
      width: 60px;
    }

    to {
      top: 208px;
      left: 210px;
      width: 80px;
    }
  }

  .heartActive {
    animation: bigger 0.2s linear 0.2s 4 alternate none running;
  }
}
